@CHARSET "UTF-8";

.join_container{
	padding: 0 50px;
}

#default-img {
	width: 100px;
}
.img_wrap{
	display: inline-block;
    width: 300px;
    height: 120px;
    float: left;
    text-align: right;
    padding-right: 50px;
}

#profile-img {
	width: 100px;
	margin-bottom: 30px;
}
.t_join{
	margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}
.t_join th{
	text-align: center;
    width: 150px;
}
.t_join td{
	height: 50px;
}
.t_join input{
	width: 100%;
}