@CHARSET "UTF-8";

.searchbar {
	float: right;
	width: 20%;
	padding-left: 30px;
	background-image: url("../images/search-icon.png");
	background-size: 10px;
	background-position: 10px 12px;
	background-repeat: no-repeat;
}

.new-project {
	display: inline-block;
}

.dashboard {
	margin: 100px;
	height: inherit;
}

.page-contents {
	height: inherit;
}

.project-box {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	transition-property: transform, box-shadow;
	transform: translateY(2px);
	display: inline-block;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	position: relative;
	justify-content: space-between;
	align-items: flex-start;
	box-sizing: border-box;
	margin: 10px 5px;
	padding: 10px;
	width: 226px;
	height: 170px;
	border-radius: 3px;
	background: gainsboro;
	color: #464c59;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
}

.project-box: hover {
	box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.15);
	transform: translateY(-2px);
}

.setting label {
	display: block;
}

.project-footer {
	position: absolute;
	bottom: 10px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 53px;
	height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
	display: none;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input[type=checkbox]:checked+.slider {
	background-color: #27b6ba;
}

input[type=checkbox]:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input[type=checkbox]:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}