@CHARSET "UTF-8";

	body{
		width: 100%;
		height: 100%;
	}
	.all{
		width: 1200px;
		height: 1500px;
		margin: 0 auto;
	}
	.box{
		width: 1000px;
		height: auto;
		margin: 0 auto;
	}
	#listBox{
		margin-top: 30px;
	}
	#tb{
		width: 950px;
		table-layout: fixed;
		border-left: none;
		border-right: none;
	}
	tr{
		border-bottom:1px solid #e1e1e1;
	}
	th{
		font-weight: normal;
	}
	#top>th{
		text-align: center;
    	height: 37px;
    	background: #fafafa;
    	border:0;
    	border-bottom: 1px solid #ddd;
    	border-top: 1px solid #ddd;
    	font-family: "Malgun Gothic", "Arial", sans-serif !important;
    	font-size: 13px;
    	color: #888;
	}
	.cell>th,td{
		height: 110px;
		overflow: hidden;
   		text-overflow: ellipsis;
    	white-space: nowrap;
    	vertical-align: top;
    	
	}
	.co{
		font-size: 14px;
		text-align: center;
	}
	.corporation{
		width: 191px;
	}
	.loc>a{
		font-size: 16px;
		text-decoration: none;
		color: black;
	}
	.loc>a:hover{
		color: black;
	}
	.t{
		padding-left: 12px;
	}
	.ct{
		text-align: center;
	}
	.price{
		font-size: 12px;
    	line-height: 20px;
    	font-family: "Malgun Gothic", "Arial", sans-serif;
    	color: #666;
	}
	.date{
		padding: 0;
    	font-size: 12px;
   		letter-spacing: -.03em;
    	color: #888;
	}
	.tags{
		border: none;
		border-radius:10px;
		margin-right: 8px;
		padding: 0px 3px 0px 3px;
		text-decoration: none;
		display: inline-block;
    	margin-top: 5px;
    	font-family: "Malgun Gothic", "Arial", sans-serif;
		font-size:13px;
		margin-bottom: 5px;
		margin-left: 1px;
		color: white;
		background : darkturquoise;
	}
	.tags:hover{
		border: 1px solid darkturquoise;
		background: none;
		text-decoration: none;
	}
	.tags:hover{
		color:darkturquoise;
	}
	.scolor{
		color: white;
		background : salmon;
	}
	.scolor:hover{
		color: salmon;
		background : white;
	}
	.line{
		margin-top: 15px;
		white-space: normal;
	}
	.loc{
		padding: 27px 0px 25px 0px;
	}
	.outBox{
		width: 470px;
		display: inline-block;
	}
	.b{
		display: inline-block;
   	 	border: 1px solid #dcdede;
   	 	border-right: 1px solid #c0c3c6;
 		border-bottom: 1px solid #c0c3c6;
 		color: #606060;
   		text-decoration: none;
   		background-color: white;
	}
	#write{
		width: 80px;
		height: 29px;
		float: right;
		text-align: center;
		line-height: 25px;
		font-weight: bold;
	}
	#write:hover{
		text-decoration: none;
	}
	.pager{
		margin: 0 auto;
		background-color: red;
	}
	.list{
		cursor: pointer;
		display: inline-block;
		border: 1px solid black;
	}
	.searchBox {
		position:relative;
		display:inline-block;
		width:120px;
		height:40px;
		background:url('../images/tradeBoard/ico_select_arrow.png') right center no-repeat;
		background-color:#fff;
		margin-top: 100px;
		top:1px;
	}
	.searchBox .txt {
		display:block;
		width:120px;
		height:40px;
		padding-left:10px;
		line-height:40px;
		border:1px solid #ccc;
		text-align:left;
	}
	.searchBox label {
		overflow:hidden;
		position:absolute;
		width:0;
		height:0;
		line-height:0;
		text-indent:-9999px;
	}
	.searchBox select {
		appearance:none;
		-webkit-appearance:none;
		-moz-appearance:none;
		-o-appearance:none;
		position:absolute; left:0; top:0;
		display:block;
		width:120px;
		padding-left:10px;
		height:40px;
		opacity:0;
		filter: alpha(opacity=0);
		z-index:10;
	}
	.searchBox.focus {
		border: 1px solid #66afe9;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); 
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); /* focus효과*/
	}
	#search{
		width: 300px;
		height: 38px;
		padding-right: 43px;
		padding-left: 12px;
	}
	.searchInput{
		display: inline-block;
		width: 310px;
		height: 50px;
		margin: 0 auto;
	}
	#s{
		display: none;
	}
	.s_img{
		position: relative;
		top:-2;
		right: 50;
	}