<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="partnerMapper"> 

	  	<resultMap type="com.hi.schedule.ScheduleDTO" id="ScheduleDTOResult">
  		<id property="schnum" column="schnum"/>
  		<result property="id" column="id"/>
  		<result property="title" column="title"/>
  		<result property="pro_contents" column="pro_contents"/>
  		<result property="startday" column="startday"/>
  		<result property="lastday" column="lastday"/>
  		<result property="start_time" column="start_time"/>
  		<result property="last_time" column="last_time"/>
  		<result property="color" column="color"/>
  		<collection property="partnicks" javaType="ArrayList" ofType="com.hi.partner.PartnerDTO" >
  			<id property="pnum" column="pnum"/>
  			<result property="schnum" column="schnum"/>
  			<result property="nickname" column="nickname"/>
  		</collection>
  	
  	</resultMap>
	
	<insert id="partnerInsert" parameterType="com.hi.partner.PartnerDTO">
  		insert into partner values(#{schnum},partner_seq.nextval,#{nickname})
  	</insert>

	<select id="partnerList" parameterType="int" resultType="com.hi.partner.PartnerDTO">
  		select * from partner where schnum=#{schnum}
  	</select>
  </mapper>