<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="pmfFileMapper">
  	
  	<insert id="insert" parameterType="FileDTO">
  		insert into pmf_files values(pmf_files_seq.nextval, #{num}, #{filename}, #{oriname}, #{filesize})
  	</insert>
  	
  	<delete id="delete" parameterType="int">
  		delete pmf_files where fnum=#{fnum}
  	</delete>
  	
  	<delete id="deleteAll" parameterType="int">
  		delete pmf_files where num=#{num}
  	</delete>
  	
  </mapper>