<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="projectMapper">
	<resultMap type="ProjectDTO" id="projectResult">
		<id property="project_id" column="project_id" />
		<collection property="manager" column="nickname" javaType="UsersDTO" ofType="UsersDTO" select="manager"></collection>
		<collection property="members" column="nickname" javaType="ArrayList" ofType="UsersDTO" select="members"></collection>
	</resultMap>
	
	<select id="manager" parameterType="UsersDTO" resultType="String">
		select nickname from users where username=#{username}
	</select>

	<select id="list" resultMap="projectResult">
		select * from project
	</select>

	<select id="view">
	
	</select>

	<insert id="create" parameterType="ProjectDTO">
		insert into project values (project_seq.nextval, #{title}, #{privacy}, #{status}, sysdate, null, 0, #{manager})
	</insert>

	<update id="update">

	</update>

	<delete id="delete">

	</delete>

</mapper>