<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="tradeMapper">
  
  	<insert id="insert" parameterType="tradeBoardDTO">
  		insert into TRADE_BOARD 
  		values(#{num},#{writer},#{title},#{contents},sysdate,#{closing_date},0,#{corporate_phone},#{min_price})
  	</insert>
  	
  	<select id="selectOne" parameterType="Integer" resultMap="tradeBoardResult">
  		select T.* from TRADE_BOARD T where num=#{num}
  	</select>
  	
  	<select id="selectTag" parameterType="Integer" resultType="tagDTO">
  		select * from TAGS where num=#{num} order by tag_num asc
  	</select>
  	
  	<select id="selectFile" parameterType="Integer" resultType="fileDTO">
  		select * from BOARDFILE where num=#{num} order by fnum asc
  	</select>
  	
  	<select id="getNum" resultType="Integer">
  		select board_seq.nextval from dual
  	</select>
  	
  	<update id="update" parameterType="tradeBoardDTO">
  		update TRADE_BOARD set title=#{title},contents=#{contents},closing_date=#{closing_date},
  		corporate_phone=#{corporate_phone},min_price=#{min_price} where num=#{num}
  	</update>
  	
  	<delete id="deleteAll">
  		delete TRADE_BOARD where num=#{num}
  	</delete>
  	
  	<resultMap type="tradeBoardDTO" id="tradeBoardResult">
  		<id property="num" column="num"/>
  		
  		<collection property="tags" column="num" ofType="tagDTO" select="selectTag">
  		
  		</collection>
  		
  		<collection property="fileNames"  column="num" ofType="fileDTO" select="selectFile">
  		
  		</collection>
  	</resultMap>
  	
  </mapper>