<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="usersMapper">
	
	<resultMap type="UsersDTO" id="usersResult">
		<id property="username" column="username"/>
		<collection property="profileImgDTO" column="img_id" javaType="ProfileImgDTO" ofType="ProfileImgDTO" select="selectImg"></collection>	
	</resultMap>

	<insert id="join" parameterType="UsersDTO">
		insert into users values (#{username}, #{password}, #{nickname}, #{phone}, sysdate, sysdate)
	</insert>
	
	<select id="login" parameterType="Map" resultMap="usersResult">
		select * from users where username=#{username} and password=#{password}
	</select>

	<update id="update" parameterType="UsersDTO">
		update users set modify_date=sysdate,
		<set>
			<if test="password != null">password=#{password},</if>
			<if test="nickname != null">nickname=#{nickname},</if>
			<if test="phone != null">phone=#{phone}</if>
		</set>
		where username=#{username}
	</update>
	
	<delete id="delete" parameterType="String">
		delete users where username=#{username} 
	</delete>
	
	<!-- profile_img -->
	<select id="selectImg" parameterType="int" resultType="ProfileImgDTO">
		select * from profile_img where img_id=#{img_id}
	</select>
	
	<insert id="insertImg" parameterType="profileImgDTO">
		insert into profile_img values (img_seq.nextval, #{file_name}, #{original_name}, #{username})
	</insert>
	
</mapper>